.button_theme_elegant
{
    margin: 0 auto;
    width: 238px;
    border: 1px solid black;
    background-color: inherit;

    & .button__text
    {
        color: #021725;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 3.625rem;
    }
}
