.card__pic
{
    overflow: hidden;

    width: inherit;
    height: 12rem;

    @media (max-width: 768px) {
        height: 100%;
    }

    & .image
    {
        min-width: 100%;
        min-height: 100%;
    }
}
