.header__menu
{
    align-self: center;

    color: white;
    font-weight: 600;
    text-transform: uppercase;

    &::after
    {
        content: '';
        display: inline-block;
        width: 18px;
        height: 12px;
        background: url(header__menu.png) no-repeat;
    }
}
