.footer__inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5.8125rem;
    max-width: 768px;

    margin: 0 auto;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        height: auto;

        > * {
            padding: 1rem;
        }
    }
}
